---
import { getCollection } from "astro:content";
import Footer from "../../components/Common/Footer.astro";
import Navbar from "../../components/Common/Navbar.astro";
import PageHead from "../../components/Common/PageHead.astro";
import CallToAction from "../../components/Home/CallToAction.astro";
import Gallery from "../../components/Home/Gallery.astro";
import BlueSection from "../../components/Home/BlueSection.astro";
import Jumbo from "../../components/Home/Jumbo.astro";
import LastYearRecap from "../../components/Home/LastYearRecap.astro";

const ctas = await getCollection("call_to_actions");
const currentLocale = "en";
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html lang={currentLocale} class="scroll-smooth flex flex-col min-h-screen">
  <PageHead />

  <body class="flex flex-col flex-1">
    <main
      id="swup"
      class="main-content transition-fade flex flex-col"
      data-swup="0"
    >
      <Navbar transparentMode={true} currentLocale={currentLocale} />

      <Jumbo>
        <h1 slot="title" class="text-6xl font-medium mb-4">
          Devfest Bari 2024
        </h1>
        <p slot="date-venue" class="text-3xl">Autunno 2024, Bari</p>
        <a
          slot="cta"
          class="mt-auto text-center py-3 px-8 bg-primary hover:bg-primary-hover text-white ease-in duration-100"
          href="#speaker"
          }>Call For Speaker</a
        >
      </Jumbo>

      <BlueSection>
        <p class="text-5xl font-bold mb-4" slot="title">
          Cos'è la DevFest Bari?
        </p>
        <p class="text-lg" slot="content">
          La DevFest Bari 2024 è un evento annuale organizzato dal Google
          Developers Group di Bari, destinato a sviluppatori, tecnologi e
          appassionati del mondo Google. L'evento si terrà a fine ottobre e
          comprende due giorni di ispirazione, apprendimento e networking. Gli
          partecipanti potranno esplorare le ultime innovazioni tecnologiche,
          con un focus su Android, Web e Cloud technologies, AI, tra gli altri.
        </p>
        <p class="text-lg mt-3" slot="content">
          Presentazioni di esperti, workshop interattivi e opportunità di
          networking sono previsti, rendendolo un appuntamento ideale sia per
          sviluppatori esperti sia per principianti, offrendo loro spunti e
          opportunità di crescita professionale e personale.
        </p>
      </BlueSection>

      <LastYearRecap>
        <p class="text-5xl font-bold mb-4" slot="title">
          Com’è andata la scorsa devfest?
        </p>
        <p class="text-lg" slot="description">
          L'edizione scorsa del DevFest Bari è stata un trionfo di conoscenza e
          innovazione, attirando oltre 600 partecipanti e 32 speaker provenienti
          da tutta la Puglia e tutta Italia. Questo straordinario evento ha
          dimostrato il suo impatto di tecnologia ed innovazione.
        </p>
        <p class="text-5xl font-bold mb-4" slot="slot-subitle">
          Cosa dicono di noi
        </p>
      </LastYearRecap>

      <Gallery>
        <p class="mb-3" slot="join-photos">
          Some pictures of the DevFest Bari 2023.
        </p>

        <a
          slot="join-photos"
          class={`py-1 px-4 rounded-r-sm hover:bg-white/40 border ease-in duration-100`}
          href="https://photos.app.goo.gl/YoTZStZH9xjAXQyY8">See them</a
        >
      </Gallery>

      {
        ctas
          .sort((a, b) => a.data.order - b.data.order)
          .map((cta) => <CallToAction cta={cta} />)
      }

      <div class="mb-6"></div>

      <BlueSection>
        <p slot="title" class="text-5xl font-bold mb-4">
          Entra nella Community
        </p>
        <p slot="content" class="text-lg">
          Unisciti a noi per fare parte di una community in crescita, migliorare
          le tue conoscenze e abilità e trovare uno spazio accogliente dove
          essere te stesso. Offriamo un ambiente di supporto, discussioni
          stimolanti, eventi divertenti, condivisione di risorse e opportunità
          di networking.
        </p>
        <a
          slot="content"
          class="mt-16 mx-auto text-center py-3 px-8 border border-bg-white hover:bg-primary-hover text-white ease-in duration-100"
          href="https://gdg.community.dev/gdg-bari/"
          target="_blank">Entra</a
        >
      </BlueSection>
    </main>

    <Footer />
  </body>
</html>
