---
import PageHead from "../../components/Common/PageHead.astro";
const currentLocale = "it";
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html lang={currentLocale} class="scroll-smooth flex flex-col min-h-screen">
  <PageHead redirectTo="0;url=/faq" />
  <body> </body>
</html>
