<div class="flex md:flex-row flex-col py-8 bg-primary text-white">
  <div class="flex max-w-6xl lg:w-4/5 w-full m-auto px-4">
    <div class="flex-1 md:w-64 flex flex-col justify-center text-center">
      <slot name="title" />
      <slot name="content" />
    </div>
  </div>
</div>
