<div class="flex md:flex-row flex-col py-8 bg-primary text-white">
  <div class="flex max-w-6xl lg:w-4/5 w-full m-auto px-4">
    <div class="flex-1 md:w-64 flex flex-col justify-center text-center">
      <p class="text-5xl font-bold mb-4">Cos'è la DevFest Bari?</p>
      <p class="text-lg">
        La DevFest Bari 2024 è un evento annuale organizzato dal Google
        Developers Group di Bari, destinato a sviluppatori, tecnologi e
        appassionati del mondo Google. L'evento si terrà a fine ottobre e
        comprende due giorni di ispirazione, apprendimento e networking. Gli
        partecipanti potranno esplorare le ultime innovazioni tecnologiche, con
        un focus su Android, Web e Cloud technologies, AI, tra gli altri.
        </p>
        <p class="text-lg mt-3">
        Presentazioni di esperti, workshop interattivi e opportunità di
        networking sono previsti, rendendolo un appuntamento ideale sia per
        sviluppatori esperti sia per principianti, offrendo loro spunti e
        opportunità di crescita professionale e personale.
      </p>
    </div>
  </div>
</div>
