<div class="flex md:flex-row flex-col py-8 bg-primary text-white">
    <div class="flex max-w-6xl lg:w-4/5 w-full m-auto px-4">
      <div class="flex-1 md:w-64 flex flex-col justify-center text-center">
        <p class="text-5xl font-bold mb-4">Entra nella Community Discord</p>
        <p class="text-lg">
            Unisciti a noi per fare parte di una community in crescita, migliorare le tue conoscenze e abilità e trovare uno spazio accogliente dove essere te stesso. Offriamo un ambiente di supporto, discussioni stimolanti, eventi divertenti, condivisione di risorse e opportunità di networking.
        </p>
        <a
        class="mt-16 mx-auto text-center py-3  px-8 border border-bg-white hover:bg-primary-hover text-white ease-in duration-100"
        href="https://discord.gg/fNdKEAZFCj" target="_blank">Entra</a
      >
      </div>
    </div>
  </div>
  