---
import backgroundImage from "../../assets/images/bari.webp";
import { Image } from "astro:assets";
---

<div class="text-black jumbo h-screen flex flex-col">
  <Image class="object-cover h-full" src={backgroundImage} alt="" />
  <div
    class="bg-khaki/50 flex flex-col justify-center content-center absolute top-0 left-0 right-0 h-screen"
  >
    <div class="p-10 text-center">
      <slot name="title" />
      <slot name="date-venue" />
      
      <div class="mt-8 flex gap-4 justify-center flex-col md:flex-row">
        <slot name="cta" />

        
      </div>
    </div>
  </div>
</div>
