<div class="flex md:flex-row flex-col py-8 text-black">
  <div class="flex max-w-6xl lg:w-4/5 w-full m-auto px-4">
    <div class="flex-1 md:w-64 flex flex-col justify-center text-center">
      <p class="text-5xl font-bold mb-4">Com’è andata la scorsa devfest?</p>
      <p class="text-lg">
        L'edizione scorsa del DevFest Bari è stata un trionfo di conoscenza e
        innovazione, attirando oltre 600 partecipanti e 32 speaker provenienti
        da tutta la Puglia e tutta Italia. Questo straordinario evento ha
        dimostrato il suo impatto di tecnologia ed innovazione.
      </p>
    </div>
  </div>
</div>
